<ul class="nav d-flex justify-content-center border-bottom">
    <li><a routerLink="/my-posts/draft-posts" [routerLinkActive]="'router-link-active'"  class="nav-link px-2 me-1 ms-1 link-primary text-dark">Черновики</a></li>
    <li><a routerLink="/my-posts/published-posts" [routerLinkActive]="'router-link-active'"  class="nav-link px-2 me-1 ms-1 link-primary text-dark">Опубликованные</a></li>
    <li><a routerLink="/my-posts/pending-posts" [routerLinkActive]="'router-link-active'"  class="nav-link px-2 me-1 ms-1 link-primary text-dark">На утверждении</a></li>
    <li><a routerLink="/my-posts/rejected-posts" [routerLinkActive]="'router-link-active'"  class="nav-link px-2 me-1 ms-1 link-primary text-dark">Отклоненные</a></li>
    <li><a routerLink="/my-posts/trash" [routerLinkActive]="'router-link-active'"  class="nav-link px-2 me-1 ms-1 link-primary text-dark">Корзина</a></li>
</ul>
