<app-main-header></app-main-header>
<div class="container">
    <div *ngIf="isAuthorsLoadComplete === false" class="p-5 d-flex justify-content-center">
        <div class="spinner-border"></div>
    </div>
    <div *ngIf="isAuthorsLoadComplete === true">
        <h1 class="mb-4">Авторы:</h1>

        <div *ngIf="authors.length > 0">
            <div *ngFor="let account of authors">
                <app-author (subscribe)="subscribeToAuthor(account)"
                            (unsubscribe)="unsubscribeFromAuthor(account)"
                            [author]="account"
                            [isSubscribedToAuthor]="isSubscribedToAuthor(account)">
                </app-author>
            </div>
        </div>
       <div *ngIf="authors.length === 0">
           Здесь пока нет ни одного автора, вы можете стать первым!
       </div>
    </div>

</div>

