<div class="me-3 ms-3 p-3">
    <div *ngIf="posts.length > 0">
        <table class="table table-striped border-dark border ">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th role="button" class="link-primary text-white" (click)="sortTitle()" scope="col">Заголовок</th>
                <th role="button" class="link-primary text-white" (click)="sortAuthor()" scope="col">Автор</th>
                <th role="button" class="link-primary text-white" (click)="sortCategory()" scope="col">Категория</th>


                <th role="button" class="link-primary text-white" (click)="sortDate()" scope="col">Дата</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr role="button" title="Открыть пост" (click)="goToPost(post.id)" style="vertical-align: middle"
                *ngFor="let post of posts; index as i">
                <th class="col-1" scope="row">{{i + 1}}</th>
                <td class="col-5"><span>{{post.title}}</span></td>
                <td class="col-2"><span>{{post.authorNickname}}</span></td>
                <td class="col-2"><span>{{post.categoryName}}</span></td>

                <td class="col-1">{{post.lastChange | date:'dd.MM.yyyy в HH:mm'}}</td>
                <td class="col-1">
                    <div class="d-flex justify-content-center">
                        <div (click)="$event.stopPropagation(); goToPostEditor(post.id)"
                             class="p-2 me-2 btn btn-primary"
                             title="Редактировать пост">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="posts.length === 0" class="d-flex justify-content-center h4">
        Нет постов
    </div>
</div>



