<div class="mt-5 me-5 ms-5">
    <div class="">
        <nav class="nav d-flex me-5 ms-5 justify-content-center">
            <a role="button"
               routerLink="/complaints/on-posts"
               [routerLinkActive]="'router-link-active'"
               class="p-2 nav-link link-primary text-dark me-2">
                На посты
            </a>
            <a role="button"
               routerLink="/complaints/on-comment"
               [routerLinkActive]="'router-link-active'"
               class="p-2 nav-link link-primary text-dark me-2">
                На комментарии
            </a>
        </nav>
    </div>
</div>
