<ul class="nav d-flex justify-content-center border-bottom">
    <li><a routerLink="/my-profile" [routerLinkActive]="'router-link-active'" class="nav-link px-2 me-1 ms-1 link-primary text-dark">Учетная запись</a></li>
    <li><a routerLink="/my-comments" [routerLinkActive]="'router-link-active'" class="nav-link px-2 me-1 ms-1 link-primary text-dark">Комментарии</a></li>
    <li><a routerLink="/my-liked-posts" [routerLinkActive]="'router-link-active'" class="nav-link px-2 me-1 ms-1 link-primary text-dark">Понравилось</a></li>
    <li><a routerLink="/my-subscriptions" [routerLinkActive]="'router-link-active'" class="nav-link px-2 me-1 ms-1 link-primary text-dark">Подписки</a></li>
</ul>

